.top
  .top__nav
    %li
      Home
    %li
      Profile
    %li
      Portfolio
    %li
      Skill
  .top__portfolio
    Portfolio
    .top__name
      TSUBASA KITAGWA


.profile
  .profile__title
    Profile
  .profile__image
    = image_tag src="profile.jpg"
    .profile__box
      .profile__box--set
        .profile__box--name
          Name:
        .profile__box--text
          北川　翼
      .profile__box--set
        .profile__box--name
          Birthday:
        .profile__box--text
          1999年07月29日<br>
          2020年6月時点（20歳）
      .profile__box--set
        .profile__box--name
          Birthplace:
        .profile__box--text
          滋賀県<br>
          現在、大阪府在住
      .profile__box--set
        .profile__box--name
          Contact:
        .profile__box--text
          Email: tsubasa.k.729@gmail.com
        .profile__box__icons
          .profile__box__icons--github
            = link_to "https://github.com/teto72" do
              %i.fab.fa-github-square
          .profile__box__icons--twitter
            = link_to "https://twitter.com/tsubasa_shiga" do
              %i.fab.fa-twitter-square

.portfolio
  .portfolio__title
    Portfolio
  .portfolio__box
    .portfolio__box__app
      = link_to "http://175.41.197.104/" do
        = image_tag src="myapp2.jpg"
      .portfolio__box__app--text
        -# アプリ名:ChatSpace<br>

    .portfolio__box__app
      = link_to "http://18.180.186.77/users/sign_in" do
        = image_tag src="sample.png"
    .portfolio__box__app
      = link_to "http://54.168.222.33/" do
        = image_tag src="teamapp.jpg"

    .portfolio__box__app
      = link_to "" do
        = image_tag src=""
      .portfolio__box__app--text2
        Coming Soon...


.skill
  .skill__title
    Skill
  .skill__frame
    = image_tag src="sozai.png"
    .skill__subtitle
      学習言語
    .skill__logos
      = image_tag src="html-5.svg",size:"120x130"
      = image_tag src="css-3.svg",size:"120x130"
      = image_tag src="ruby.svg",size:"120x130"
      = image_tag src="rails.svg",size:"120x130"
      = image_tag src="javascript.svg",size:"120x130"
      = image_tag src="aws.svg",size:"120x130"
    