.top
  %ul.top__nav
    %li
      %a{:href => "#section01"} Top
    %li
      %a{:href => "#section02"} Profile
    %li
      %a{:href => "#section03"} Portfolio
    %li
      %a{:href => "#section04"} Skill
  .top__portfolio
    Portfolio
    .top__name
      TSUBASA KITAGAWA

.profile
  .profile__title
    %section#section02 Profile
  .profile__image
    = image_tag src="profile.jpg"
    .profile__box
      .profile__box--set
        .profile__box--name
          Name:
        .profile__box--text
          北川　翼
      .profile__box--set
        .profile__box--name
          Birthday:
        .profile__box--text
          1999年07月29日<br>
          2020年6月時点（20歳）
      .profile__box--set
        .profile__box--name
          Birthplace:
        .profile__box--text
          滋賀県<br>
          現在、大阪府在住
      .profile__box--set
        .profile__box--name
          Contact:
        .profile__box--text
          Email: tsubasa.k.729@gmail.com
        .profile__box__icons
          .profile__box__icons--github
            = link_to "https://github.com/teto72" do
              %i.fab.fa-github-square
          .profile__box__icons--twitter
            = link_to "https://twitter.com/tsubasa_shiga" do
              %i.fab.fa-twitter-square

.portfolio
  .portfolio__title
    %section#section03 Portfolio
  .portfolio__box
    .portfolio__box__app
      = link_to "http://175.41.197.104/" do
        = image_tag src="myapp2.jpg"
      #open 詳細
      #mask.hidden
      %section#modal.hidden
        %p
          タイトル：MotoUp<br>
          aaaaaaaaaaaaaaaaaaaaaaaaa<br>
          aaaaaaaaaaaaaaaaaa
    .portfolio__box__app
      = link_to "http://18.180.186.77/users/sign_in" do
        = image_tag src="sample.png"
      %button 詳細

    .portfolio__box__app
      = link_to "http://54.168.222.33/" do
        = image_tag src="teamapp.jpg"
      %button 詳細

    .portfolio__box__app
      = link_to "" do
        = image_tag src=""
      .portfolio__box__app--text2
        Coming Soon...


.skill
  .skill__title
    %section#section04 Skill
  .skill__frame
    = image_tag src="sozai.png"
    .skill__subtitle
      学習言語・スキル
    .skill__logos
      %ul.skill__logos--top
        %li
          = image_tag src="html-5.svg",size:"120x130"
          .skill__logos--topname
            HTML5
        %li
          = image_tag src="css-3.svg",size:"120x130" 
          .skill__logos--topname
            CSS3
        %li
          = image_tag src="ruby.svg",size:"120x130"
          .skill__logos--topname
            Ruby
        %li
          = image_tag src="rails.svg",size:"120x130"
          .skill__logos--topname
            Ruby on Rails
        %li
          = image_tag src="javascript.svg",size:"120x130"
          .skill__logos--topname
            JavaScript
      %ul.skill__logos--under
        %li  
          = image_tag src="aws.svg",size:"120x130"
          .skill__logos--undername
            AWS
        %li  
          = image_tag src="haml.svg",size:"120x130"
          .skill__logos--undername
            Haml
        %li  
          = image_tag src="sass.svg",size:"120x130"
          .skill__logos--undername
            Sass
        %li  
          = image_tag src="docker-icon.svg",size:"120x130"
          .skill__logos--undername
            Docker
    